{{> title-banner}}

<main>
    <div class="btn--container btn--container__column btn--container__center">
        <a href="{{prevURL}}/{{linkRef}}" class="btn">Alle studenten</a>
        <a href="{{prevURL}}/{{linkRef}}/teams" class="btn">Overzicht van teams</a>
    </div>

    <a class="btn--small btn--small-arrow" href="{{prevURL}}"><img src="{{../baseURL}}/public/images/icons/arrow-icon.svg" alt="Back icon"></a>

</main>
