{{> title-banner}}

<main>
    <h2>Jouw klassen</h2>

    <ol class="grid grid--overview">
        {{#each classData}}
            <li>
                <a class="box-shadow" href="{{../baseURL}}/{{linkRef}}">
                    <div>
                        <h3>{{title}}</h3>
                        <p>{{users.length}} studenten</p>
                    </div>
                    <p>Bekijk klas</p>
                </a>
            </li>
        {{/each}}
    </ol>

    <img class="robot-img" src="{{../baseURL}}/public/images/cropped-cmd_icon_robot.png" alt="CMD Robot">
</main>