{{> title-banner}}

<main>
    <ul class="grid grid--overview grid--img">
        {{#each userData}}
        <li>
            <a class="box-shadow" href="#">
                <img src="{{user.profile_pic}}" alt="Profielfoto van {{user.name.first}} {{user.name.last}}">
            </a>
        </li>
        {{/each}}
    </ul>

    {{#if classTeams}}
        <div class="btn--container">
            <a class="btn--small btn--small-arrow" href="{{prevURL}}/{{linkRef}}/home"><img src="{{../baseURL}}/public/images/icons/arrow-icon.svg" alt="Back icon"></a>
        </div>
            
        {{else}}
        <div class="btn--container">
            <a class="btn--small btn--small-arrow" href="{{prevURL}}"><img src="{{../baseURL}}/public/images/icons/arrow-icon.svg" alt="Back icon"></a>
            <a class="btn form-trigger" href="{{prevURL}}/{{linkRef}}/teams/team-generation/form">Teams aanmaken</a>
        </div>

        {{> form}}
    {{/if}}
    
</main>

<script src="{{../baseURL}}/public/js/toggle-script.js"></script>
<script async src="{{../baseURL}}/public/js/form-script.js"></script>